body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.prediction {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.image-canvas {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
}

.size {
  position: fixed;
  top: 0;
  left: 0;
}
